<section id="about" class="section grid lg:grid-cols-2 gap-20 items-center">
  <div>
    <p class="uppercase tracking-[0.3em] text-sm text-zinc-500 mb-4">About</p>

    <h2
      class="text-4xl md:text-6xl font-black uppercase tracking-tighter leading-none select-none my-8"
    >
      <span
        class="block bg-gradient-to-r from-cyan-400 via-blue-500 to-cyan-400 bg-[length:200%_auto] animate-text-shimmer bg-clip-text text-transparent pb-2"
      >
        Frequenze,
      </span>

      <span
        class="block bg-gradient-to-r from-amber-400 via-rose-500 to-amber-400 bg-[length:200%_auto] animate-text-shimmer bg-clip-text text-transparent py-2 "
      >
        Energia,
      </span>

      <span
        class="block bg-gradient-to-r from-violet-400 via-fuchsia-500 to-violet-400 bg-[length:200%_auto] animate-text-shimmer bg-clip-text text-transparent pt-2"
      >
        Underground.
      </span>
    </h2>

    <style>
      @keyframes textShimmer {
        0% {
          bg-position: 0% 50%;
        }
        50% {
          bg-position: 100% 50%;
        }
        100% {
          bg-position: 0% 50%;
        }
      }

      .animate-text-shimmer {
        animation: textShimmer 6s linear infinite;
      }
    </style>

    <p class="text-zinc-400 text-lg leading-relaxed mb-6">
      Il punto d'incontro tra musica commerciale, <br>house alternativa ed elettronica
      da club.
    </p>
  </div>

  <div class="relative">
    <img
      src="/images/dj.jpg"
      alt="DJ"
      class="rounded-3xl object-cover w-full h-[700px] shadow-2xl"
    />
  </div>
</section>
