<section id="contact" class="py-20 bg-black text-center px-2">
  <h2
    class="text-4xl md:text-5xl font-black tracking-tight text-white mb-6 uppercase"
  >
    Lavoriamo
    <span
      class="text-4xl md:text-5xl font-black tracking-tight text-[#6c00b4] mb-6 uppercase xs:text-xs"
    >
      insieme
    </span>
  </h2>

  <p
    class="text-zinc-400 max-w-xxl mx-auto text-base md:text-lg font-light leading-relaxed"
  >
    Disponibile per feste, club, eventi pubblici, privati e progetti editoriali.
  </p>
  <p
    class="text-zinc-400 max-w-xxl mx-auto text-base md:text-lg font-light leading-relaxed mb-12"
  >
    Scrivi una mail a <a href="mailto:djshhtefano@gmail.com">
      djshhtefano@gmail.com
    </a> oppure contattami tramite Instagram.
  </p>
  <div
    class="flex flex-col sm:flex-row justify-center items-center gap-4 max-w-md mx-auto"
  >
    <a
      href="mailto:djshhtefano@gmail.com"
      class="group w-full sm:w-auto flex items-center justify-center gap-3 px-8 py-4 bg-white text-zinc-950 font-bold rounded-xl shadow-lg hover:bg-zinc-100 transform hover:-translate-y-0.5 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="transition-transform group-hover:scale-110"
      >
        <rect width="20" height="16" x="2" y="4" rx="2"></rect><path
          d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
      </svg>
      <span>Scrivimi un'e-mail</span>
    </a>

    <a
      href="https://instagram.com/shhtefano"
      target="_blank"
      rel="noopener noreferrer"
      class="group w-full sm:w-auto flex items-center justify-center gap-3 px-8 py-4 border border-zinc-800 bg-zinc-900/40 text-zinc-300 font-medium rounded-xl hover:bg-zinc-900 hover:text-white hover:border-zinc-700 transform hover:-translate-y-0.5 transition-all duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="transition-transform group-hover:scale-110 group-hover:text-purple-500"
      >
        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
          d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
          x1="17.5"
          x2="17.51"
          y1="6.5"
          y2="6.5"></line>
      </svg>
      <span>Instagram</span>
    </a>
  </div>
</section>
