<section id="gallery" class="section">

  <p class="uppercase tracking-[0.3em] text-sm text-zinc-500 mb-4">
    Visual Experience
  </p>

  <h2 class="section-title">
    Gallery.
  </h2>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 mt-12">

    <img
      src="/images/live1.png"
      class="rounded-3xl h-[500px] object-cover w-full hover:scale-[1.02] transition duration-500"
    />

    <img
      src="/images/live2.jpg"
      class="rounded-3xl h-[500px] object-cover w-full hover:scale-[1.02] transition duration-500"
    />

    <img
      src="/images/live3.png"
      class="rounded-3xl h-[500px] object-cover w-full hover:scale-[1.02] transition duration-500"
    />

    <img
      src="/images/live4.jpg"
      class="rounded-3xl h-[500px] object-cover w-full hover:scale-[1.02] transition duration-500"
    />

    <img
      src="/images/live5.jpg"
      class="rounded-3xl h-[500px] object-cover w-full hover:scale-[1.02] transition duration-500"
    />

    <img
      src="/images/live6.jpg"
      class="rounded-3xl h-[500px] object-cover w-full hover:scale-[1.02] transition duration-500"
    />

  </div>

</section>