---

---

<!-- Cornice UI Perimetrale (Effetto Applicazione Premium) --><!-- Main Experience Section -->
<section
  class="relative min-h-screen w-full bg-[#05020a] flex flex-col items-center justify-center overflow-hidden"
>
  <!-- Contenitore Centrale Principale -->
  <div class="p-0">
    <picture>
      <source
        media="(max-width:768px)"
        srcset="images/wallpaper_vertical.png"
      />

      <img
        src="images/wallpaper_shhte.png"
        class="w-full h-full object-cover"
      />
    </picture>
  </div>

  <!-- Footer Info / Scroll Indicator -->
  <div
    class="absolute bottom-8 left-0 w-full px-8 md:px-16 flex justify-between items-center z-10 text-[10px] font-mono tracking-widest text-zinc-600 hidden sm:flex"
  >
    <div class="text-white">[ 45.4642° N, 9.1900° E ]</div>
    <div class="flex items-center gap-2">
      <span class="w-12 h-[1px] bg-zinc-800 inline-block"></span>
      <span class="text-white">SCROLL TO ENTER</span>
    </div>
    <div class="text-white">© 2026 ALL RIGHTS RESERVED</div>
  </div>
</section>
