---

---

<section class="relative h-screen w-full overflow-hidden">
  <!-- Contenitore Centrale Principale -->
  <div class="absolute inset-0 w-full h-full">
    <!-- Dark Theme Wallpaper -->
    <picture class="theme-dark-only block w-full h-full">
      <source
        media="(max-width:768px)"
        srcset="images/wallpaper_vertical.png"
        class="w-full h-full object-cover scale-90"
      />
      <img
        src="images/wallpaper_invert.png"
        class="w-full h-full object-cover"
      />
    </picture>

    <!-- Light Theme Wallpaper -->
    <picture class="theme-light-only block w-full h-full">
      <source
        media="(max-width:768px)"
        srcset="images/wallpaper_invert_vertical.png"
        class="w-full h-full object-cover scale-90"
      />
      <img
        src="images/wallpaper_inverted.png"
        class="w-full h-full object-cover"
      />
    </picture>
  </div>

  <!-- Footer Info / Scroll Indicator -->
  <div
    class="hero-footer absolute bottom-8 left-0 w-full px-8 md:px-16 flex justify-between items-center z-10 text-[10px] font-mono tracking-widest text-zinc-600 hidden sm:flex"
  >
    <div class="text-white">[ 36°47'29N, 14°42'09E ]</div>
    <div class="flex items-center gap-2">
      <span class="w-12 h-[1px] bg-zinc-800 inline-block"></span>
      <span class="text-white">SCROLL TO ENTER</span>
    </div>
    <div class="text-white">© 2026 ALL RIGHTS RESERVED</div>
  </div>
</section>
