<section id="music" class="section">

  <p class="uppercase tracking-[0.3em] text-sm text-zinc-500 mb-4">
    Latest Sets
  </p>

  <h2 class="section-title">
    Listen.
  </h2>

  <!-- <div class="grid lg:grid-cols-2 gap-8 mt-12"> -->

    <div class="bg-zinc-900/50 border border-white/10 rounded-3xl p-8 w-[100%] mx-auto">

      <h3 class="text-2xl font-bold mb-6">
        Spotify
      </h3>

        <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/4XP0mEEr4eU9ay00wIuLWn"
        width="100%"
        height="652"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
        ></iframe>

    </div>

    <!-- <div class="bg-zinc-900/50 border border-white/10 rounded-3xl p-6">

      <h3 class="text-2xl font-bold mb-6">
        SoundCloud
      </h3>

      <iframe
        width="100%"
        height="352"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/shhtefano"
        ></iframe>
    </div> -->

  <!-- </div> -->

</section>