---
import "../styles/global.css";

const { title = "DJ Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>

		<meta name="description" content="dj shhte portfolio" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Covered+By+Your+Grace&family=Jersey+25&family=Jost:ital,wght@0,100..900;1,100..900&family=Manufacturing+Consent&family=Play:wght@400;700&family=Syne:wght@400..800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Jersey+25&family=Jost:ital,wght@0,100..900;1,100..900&family=Manufacturing+Consent&family=Play:wght@400;700&family=Syne:wght@400..800&display=swap" rel="stylesheet">
	</head>

	<body>
		<slot />
	</body>
</html>
